---
import Layout from "@/components/layout.astro"
import { SpeedTestContainer } from "@/container/speedtest.container"
---
<Layout>
	<div class="flex-1 flex flex-col items-center justify-center p-4">
		<SpeedTestContainer client:only="react" />
	</div>
</Layout>
