---
import "@/global.css"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<!-- HTML Meta Tags -->
		<title>Speed Test | Build with 🫶 by Sittipong HAUS</title>
		<meta name="description" content="Experience lightning-fast speed tests with our website powered by Astro and React. Seamlessly blend static and dynamic content for unparalleled performance.">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://speedtest.sittipong.com/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Speed Test | Made with 🫶 by Sittipong HAUS">
		<meta property="og:description" content="Experience lightning-fast speed tests with our website powered by Astro and React. Seamlessly blend static and dynamic content for unparalleled performance.">
		<meta property="og:image" content="/assets/opengraph.png">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="speedtest.sittipong.com">
		<meta property="twitter:url" content="https://speedtest.sittipong.com/">
		<meta name="twitter:title" content="Speed Test | Made with 🫶 by Sittipong HAUS">
		<meta name="twitter:description" content="Experience lightning-fast speed tests with our website powered by Astro and React. Seamlessly blend static and dynamic content for unparalleled performance.">
		<meta name="twitter:image" content="/assets/opengraph.png">

		<!-- Meta Tags Generated via https://www.opengraph.xyz -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	</head>
	<body>
		<main class="min-h-[calc(100dvh-var(--footer-height))] flex flex-col">
			<slot/>
		</main>
		<footer id="footer" class="bg-black/10 border-t text-white/50 text-sm p-2 text-center">
			Made with 🫶 by <a href="https://sittipong.com" class="text-primary"><u>Sittipong</u></a>
		</footer>
		<script>
			function updateFooterHeight () {
				const footerHeight = document.querySelector("#footer")!.clientHeight
				document.querySelector("main")!.style.setProperty("--footer-height", `${footerHeight}px`)
			}
			updateFooterHeight()
			window.addEventListener("resize", updateFooterHeight)
			window.addEventListener("beforeunload", () => {
				window.removeEventListener("resize", updateFooterHeight)
			})
		</script>
	</body>
</html>
